<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>clientId</td>
            <td>Email</td>
            <td>displayName</td>
            <td>Admin rights</td>
        </tr>
    </thead>
    <tbody>
        {{#each model as |user|}}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.clientsaas}}</td>
            <td>{{user.displayName}}</td>
            <td>{{user.mailAddress}}</td>
            <td>{{user.adminRights}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>